{% extends 'main.html' %}

{% block content %}
<div class="snap-start grid place-items-center min-h-screen bg-gradient-to-t from-red-900 to-yellow-700 p-5">
    <div>
      <h1 class="animate-wiggle text-4xl sm:text-5xl md:text-7xl font-bold text-gray-200 mb-40 text-center">?מה אתה מעדיף</h1>
      <section class="grid grid-cols-2 sm:grid-cols-2 gap-32">
        <!-- CARD 1 -->
      
        <form method="POST" action="{% url 'one' one.id_n %}">
        {% csrf_token %}
        <button value="{{ one.f1_color }}" name="send1" type="submit" class="bg-gray-900 shadow-lg rounded p-3 overflow-hidden hover:shadow-xl hover:scale-105 duration-500 transform transition cursor-pointer">
        <img class="w-full md:w-72 block rounded" src="{{ one.f1 }}" alt="" />
        </button>
        </form>
        <!-- END OF CARD 1 -->
  
        <!-- CARD 1 -->
        <form method="POST" action="{% url 'one' one.id_n %}">
          {% csrf_token %}
          <button value="{{ one.f2_color }}" name="send1" type="submit" class="bg-gray-900 shadow-lg rounded p-3 overflow-hidden hover:shadow-xl hover:scale-105 duration-500 transform transition cursor-pointer">
          <img class="w-full md:w-72 block rounded" src="{{ one.f2 }}" alt="" />
          </button>
        </form>
        <!-- END OF CARD 1 -->
      </section>
    </div>
  </div>

{% endblock content %}